<h1>#<%= @topic.title %></h1>

<% if policy(@topic).edit? %>
  <%= link_to "Edit Topic", edit_topic_path, class: 'btn btn-success', id: 'edit_topic' %>
  <%= link_to "Delete Topic", @topic, method: :delete, class: 'btn btn-danger', id: 'delete_topic', data: { confirm: 'Are you sure you want to delete this topic? Deleting a topic will delete all associated bookmarks.' } %>
  <br />
  <hr />
<% end %>

<div class = "row">
  <div class = "col-md-8">
    <% if @topic.bookmarks.count >= 1 %>
      <% @topic.bookmarks.each do |current_bookmark| %>
        <div class = "media">
          <div class = "media-body">
              <%= render partial: 'likes/like', locals: { bookmark: current_bookmark } %>
              <%= link_to current_bookmark.url, "http://#{current_bookmark.url}", target: "_blank", class: 'embedly-card' %>
              <% if policy(current_bookmark).update? %>
                <%= link_to "edit", edit_bookmark_path(current_bookmark), id: 'edit_bookmark' %>
                <%= link_to "destroy", current_bookmark, method: :delete, id: 'delete_bookmark', data: { confirm: 'Are you sure you want to delete this bookmark?' } %>
              <% end %>
              <br />
              <hr />
          </div>
        </div>
      <% end %>
    <% else %>
      <p>No bookmarks!</p>
    <% end %>
  </div>

  <div class = "col-md-4">
    <%= link_to "Create Bookmark", new_topic_bookmark_path(@topic), name: 'create_bookmark', class: 'btn btn-success', id: 'create_bookmark' %>
    <%= link_to "Back", topics_path, class: 'btn btn-link' %>
  </div>
</div>
