<div class="main-header">
  <div class="row">
    <div class="col-lg-12 intro-text">
      <div class="col-lg-6 col-lg-offset-3">
        <h1>Welcome to Shmarks!</h1>
        <h2>Marks to mark your remarkable life-marks.</h2>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="col-lg-12">
    <div class="section-text">
      <h1>Organized Links to Whatever Makes You Tick</h1>
    </div>
    <div class="col-md-4">
      <h5>Great Looking Site Previews</h5>
      <h5>
        <%= link_to "", "caseybennington.com", class: "embedly-card" %>
      </h5>
    </div>
    <div class="col-md-4">
      <h5>Instant Access to Your Favorite Videos</h5>
      <h5>
        <%= link_to "", "https://www.youtube.com/watch?v=eRsfVOmyEpk", class: "embedly-card" %>
      </h5>
    </div>
    <div class="col-md-4">
      <h5>Fantastic Social Media Integration</h5>
      <h5>
        <%= link_to "", "https://twitter.com/virginia_tech/status/793836984892583936", class: "embedly-card" %>
      </h5>
    </div>
  </div>
  <div class="container">
    <div class="col-lg-4">
      <div class="info-text">
        <h5 class="section-text">Create & Browse Topics</h5>
        <p>View your Topics and Those Created by Members of the Shmarks Community</p>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="info-text">
        <h5 class="section-text">Create Bookmarks</h5>
        <p>Bookmark your Favorite Websites or Email the link to Shmarks, and We'll Add it!</p>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="info-text">
        <h5 class="section-text">Like Bookmarks</h5>
        <p>Bookmarks can be "Liked" and added to your profile for Easy Access</p>
      </div>
    </div>
  </div>
</div>
<div class="content-header" id="join-shmarks"></div>
<div class="container">
  <div class="col-lg-12">
    <div class="section-text">
      <h1>Become a Member of The Shmarks Community</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="section-text">
        <h3>Join Shmarks</h3>
        <%= link_to "Sign Up", new_user_registration_path, class: "button", id: "sign_up" %>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="section-text">
        <h3>Already a Member</h3>
        <%= link_to "Sign In", new_user_session_path, class: "button", id: "sign_in" %>
      </div>
    </div>
  </div>
</div>
